{% extends 'Account/base.html'%}

{%block content%}

<section >
	<div id = "header" class="home-background ">
		<div class="display-text">
			<div class="heading">Capture the story of your life</div>
			<div class="subHeading pl-4">   Piece by Piece</div>
			<div class="subHeading">   Day by Day</div>
			
		</div>
	</div>
</section>
<section class=mt-4>
	<div class="row">
  <div class="col-sm-3 mx-5">
    <div class="card">
      <div class="card-body text-center">
      	<i class="bi bi-vector-pen" style="font-size: 4rem;"></i>
        <h5 class="card-title">Easy To Use</h5>
        <p class="card-text">MooDiary - The place to pen down your thoughts and feelings ,and have it with you anytime and anywhere.</p>  
      </div>
    </div>
  </div>
  <div class="col-sm-3 mx-5">
    <div class="card">
      <div class="card-body text-center">
      	<i class="bi bi-shield-lock " aria-hidden="true" style="font-size: 4rem;"></i>
        <h5 class="card-title">100% Protected</h5>
        <p class="card-text">MooDiary - A password protected web application, so you can rest assured that your entries are private and safe.  </p>
          
      </div>
    </div>
  </div>
  <div class="col-sm-3 mx-5">
    <div class="card">
      <div class="card-body text-center">
      	<i class="bi bi-alarm" aria-hidden="true" style="font-size: 4rem;"></i>
        <h5 class="card-title">Daily Reminders</h5>
        <p class="card-text">You can also set reminders so that you won’t miss important dates and occasions.</p>
        
      </div>
    </div>
  </div>
</div>
</section>
	
	


{% endblock%}
