
{%extends 'Account/base.html' %}

{%block content%}
<div class="box-container">


	<h4>Pay ₹ 500 for Premium Subscription of MooDiary</h4>
	<form method=POST action="/success">
		
	<a href = "{%url 'userpage'%}"role="button"class ="btn btn-outline-danger mt-3 mx-1" >Cancel</a>
	
	</form>
		

	<form action="{%url 'success'%}" method="POST">
		{%csrf_token%}
		
		<script
		    src="https://checkout.razorpay.com/v1/checkout.js"
		    data-key={{api_key}} 
		    data-amount={{order_amount}} 
		    data-currency="INR"// 
		    data-order_id={{order_id}}
		    data-buttontext="Pay"
		    data-name="MooDiary"
		    
		    
		    data-prefill.name="Gaurav Kumar"
		    data-prefill.email="gaurav.kumar@example.com"
		    data-theme.color="#F37254"
		></script>
<input type="hidden" custom="Hidden Element" name="hidden">
</form>
</div>


{%endblock%}