
{%extends 'Account/base.html' %}

{%block content%}
<h2>Your all previous moods</h2>
<div class="container-fluid ">
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Moods</th>
      <th scope="col">Date Recorded</th>
    </tr>
  </thead>
  
{%for item in moods%}
 <tbody>
  <tr>
      <td>{{item.id}}</th>
      <td>{{item.type_of_mood}}</td>
      <td>{{item.dateTime}}</td>
      
    </tr>
 </tbody>
{%endfor%}

</table>
</div>

{%endblock%}